h3 {
  font-size: 1.2rem;
}

.bar-page-container {
  min-height: 80vh;
  position: relative;

  .eat-page-icons {
    margin-top: 20px;
  }
}

.bar-page-menu-links {
  padding: 10px 0;
  display: flex;
  max-width: 700px;
  margin: 20px auto 0;

  .bar-page-menu-link {
    font-size: 1.2rem;
    padding: 0 1%;
    text-transform: uppercase;
    font-weight: 600;
    flex: 1;

    @media only screen and (max-width: 600px) {
      font-size: 1rem;
      padding: 0;
    }

  }

}

.bar-introduction-section {

  margin-top: 20px;

  $mobile: new-breakpoint(max-width 1023px 4);

  .bar-intro {
    @include span-columns(3);
    @include shift(2);

    margin-top: 50px;

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);

      margin-top: 0;
    }
  }
  .bar-slider {

    @include span-columns(5);

    max-width: 100%;

    @include media($mobile) {
      @include span-columns(4);
    }
  }
}


#bar-menu-items {

  margin-top: 20px;


  @include outer-container;

  $mobile: new-breakpoint(max-width 600px 4);

  .toj-menu-items {

    @include span-columns(1.5);
    @include shift(3);

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }

    .appetizer-menu-item {
      margin: 20px auto;
      height: 75px;
    }
  }

  .appetizer-menu-items,
  .main-menu-items,
  .side-and-sweet-menu-items {

    $gutter: 1em;

    div {

      margin: 20px auto;

    }

    @include span-columns(1.5);
    @include shift(0);

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }

    .appetizer-menu-item {
      margin: 20px auto;
      height: 75px;
    }

  }

  h3 {
    clear: both;
  }
}