address {
  font-size: 1.2rem;
  color: $jungsik;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}

div.front-page-image {
  background-size: cover;
  background-position: center;
  height: 80vh;

  @media only screen and (max-width: 460px) {
    background-size: contain !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
  }

}