.hello-page-container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 860px 4);

  padding-top: 20px;

  .hello-subtitle,
  .hello-page-content,
  .staff-name-position,
  .staff-bios,
  .hello-page-bottom-content{
    @include span-columns(6);
    @include shift(3);

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }

    margin-bottom: 20px;

  }

}


.hello-page-name-position-section {
  background: url("assets/img/chef.jpg") no-repeat center;
  margin-bottom: 30px;
  height: 233px;
  padding-top: 50px;
  display: inline-block;
  width: 310px;

  @media only screen and (max-width: 860px) {
    height: 350px;
  }

}

div.staff-name-position.staff-name-position-left {
  float: left;
  margin-left: 0;
}

div.staff-name-position.staff-name-position-right {
  float: right;
  margin-left: 0;
}