h3 {
  font-size: 1.2rem;
}

.eat-page-menu-links {
  padding: 10px 0;
  display: flex;
  max-width: 450px;
  margin: 20px auto 0;
  letter-spacing: 4px;


  .eat-page-menu-link {
    font-size: 1.2rem;
    padding: 0 1%;
    text-transform: uppercase;
    font-weight: 600;
    flex: 1;

    @media only screen and (max-width: 600px) {
      font-size: 1rem;
      padding: 0;
    }

  }

}

.eat-page-icons {
  display: block;
  margin: 20px auto;
  clear: both;

}


.choice-menu-items {

  margin-top: 20px;


  @include outer-container;
  $tablet: new-breakpoint(max-width 1023px 12);
  $mobile: new-breakpoint(max-width 600px 4);

  .appetizer-menu-items {

    @include span-columns(1.2);
    @include shift(3);

    @include media($tablet) {
      @include span-columns(2);
      @include shift(1);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }

    .appetizer-menu-item {
      margin: 20px auto;
    }
  }

  .rice-noodle-menu-items,
  .seafood-menu-items,
  .land-menu-items,
  .sweet-menu-items {

    div {

      margin: 20px auto;

    }

    @include span-columns(1.2);
    @include shift(0);

    @include media($tablet) {
      @include span-columns(2);
      @include shift(0);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }


  }
}

.choice-menu-items-headers {
  font-size: 1.2rem;
  margin: 20px auto;
  font-weight: 400;
}

.menu-item-header {
  letter-spacing: 0;
}

.tasting-menu-items {
  .tasting-menu-item {
    margin: 20px auto;
  }

  .tasting-menu-price,
  .wine-pairing-price {
    text-transform: uppercase;
  }
}