/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  background-color: #fff;
  max-height: 255px;
  overflow: auto;

  @media only screen and (max-width: 1023px) {
    max-height: none;
  }
}

.site-header > .wrap {
  padding: 0 20px;
}

